<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body>
    <h2>Wolcome</h2>
      
    <script src="./script.js"></script>
      
    <form action="/login" method="post" id="form_login_id">
        <input type="text" id="username" name="username">
        <input type="text" id="password" name="password">
    <button type="submit" id="button_login">Log in</button>

    </form>
   
    <a href="http://localhost:4444/userregistration">Sign Up</a>
</body>

</html> -->


<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/login.css">
        
    </head>

    <body>
       <!-- <div class="logo">
           <img src="img/logo.png" alt="Logo" width="110px" height="100px">
       </div> -->

       <div class="login">
        <!-- <script src="./script.js"></script> -->
      
    <form  method="get" id="form_login_id">
        <h1 style="text-align: center;">Login</h1> </br>

        <span class="icon"><i class="fa fa-user" style="font-size:24px"></i></span>
        <input type="text" id="username" name="username" class="input1" placeholder="Username" required> </br>

        <span class="icon"><i class="fa fa-lock" style="font-size:24px"></i></span>
        <input type="password" id="password" name="password" class="input1" placeholder="Password" required> </br>

        <input type="submit" id="login_button_id" name="login-users" class="button-login" value="Login">

        <p style="text-align: center;">Don't have an account? <a href="http://localhost:4444/userregistration">Register </a></p>
        </form>
        <p id="errorMessage">
            
        </p>
  </div>
  <script src="js/login.js"></script>


    </body>
</html>