<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/registration" method="post" >
        <label for="">Username</label>
        <input type="text" id="username" name="username" > 
        <label for="">First name</label>
        <input type="text" id="firstname" name="firstname" >
        <label for="">Last name</label>
        <input type="text" id="lastname" name="lastname" >
        <label for="">Birth date</label>
        <input type="text" id="birthdate" name="birthdate" >
        <label for="">Gender</label>
        <input type="text" id="gender" name="gender" >
        <label for="">Email</label>
        <input type="text" id="email" name="email" >
        <label for="">Password</label>
        <input type="password" id="password" name="password" >
        <label for="">Repat password</label>
        <input type="password" id="repatpassword" name="repatpassword" >
        
        <button type="submit">Sign up</button>
        
 
    <style>
        input{
            display: block;
        }
    </style>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/Zlibrary.js"></script>
</head>

<body>

    <!-- /registration -->
    <div class="register">
        <form action="">
            <h1 style="text-align: center;">Register</h1> </br>
            <div>
            <span class="icon"><i class="fa fa-user"></i></span>
            <input type="text" name="firstname" id="name" class="input1" placeholder="Firstname">
        </div>
        <div>
            <span class="icon2"><i class="fa fa-user"></i></span>
            <input type="text" name="lastname" id="lastName" class="input1" placeholder="Lastname"> </br>
        </div>
            <span class="icon"><i class="fa fa-user"></i></span>
            <input type="text" name="username" class="input2" placeholder="Username"> </br>

            <span class="icon"><i class="fa fa-calendar"></i></span>
            <input type="date" name="birthdate" class="input2" placeholder="Data of birth" style="color: #e5eaf0;">
            </br>

            <span class="icon"><i class="fa fa-envelope"></i></span>
            <input type="email" name="email" class="input2" placeholder="Email"> </br>

            <span class="icon"><i class="fa fa-lock"></i></span>
            <input type="password" name="password" class="input1" id="password" placeholder="Password">

            <span class="icon2"><i class="fa fa-unlock"></i></span>
            <input type="password" name="cpassword" class="input1" id="repassword" placeholder="Confirm password"> </br>

            <input type="submit" name="register-users" id="register_id_button" class="button-register" value="Register">

        </form>
        <p id="errorMessage"></p>
        <script>
            const button = Z("register_id_button");
            button.addEventListener("click", (event) => {
                GojsaCheckPass("password", "repassword")
                if (Zv("password") !== Zv("repassword")) {
                    event.preventDefault();
                    Z("errorMessage").textContent = "Password doesn't match"
                }
            })

            GojsaMessageError("register_id_button","Field mast have soma value","name","lastName")
        </script>
    </div>

</body>

</html>