<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/Zlibrary.js"></script>
</head>

<body>

    <!-- /registration -->
    <div class="register">
        <form action="/registration" id="registration_form_id" method="post">
            <h1 style="text-align: center;">Register</h1> </br>
            <div style="display: inline !important;">
                <span class="icon"><i class="fa fa-user"></i></span>
                <input type="text" name="firstname" id="name" class="input1" placeholder="Firstname">
            </div>
            <div style="display: inline !important;">
                <span class="icon2"><i class="fa fa-user"></i></span>
                <input type="text" name="lastname" id="lastName" class="input1" placeholder="Lastname"> </br>
            </div>
            <span class="icon"><i class="fa fa-user"></i></span>
            <input type="text" name="username" id="username" class="input2" placeholder="Username"> </br>
            <div>
                <span class="icon"><i class="fa fa-calendar"></i></span>
                <input type="date" name="birthdate" id="birthdate" class="input2" placeholder="Data of birth"
                    style="color: #e5eaf0;">
                </br>
            </div>
            <div>
                <input type="radio" id="gender_male" name="gender" value="M"
                       checked>
                <label for="huey">Male</label>
              </div>
              
              <div>
                <input type="radio" id="dewey_female" name="gender" value="F">
                <label for="dewey">Female</label>
              </div>
            <div>
                <span class="icon"><i class="fa fa-envelope"></i></span>
                <input type="email" name="email" id="email" class="input2" placeholder="Email"> </br>
            </div>
            <div style="display: inline !important;">
            <span class="icon"><i class="fa fa-lock"></i></span>
            <input type="password" name="password" id="password" class="input1" id="password" placeholder="Password">
            </div>
            <div style="display: inline !important;">
                <span class="icon2"><i class="fa fa-unlock"></i></span>
                <input type="password" name="cpassword" id="cpassword" class="input1" id="repassword"
                    placeholder="Confirm password"> </br>
            </div>
            <input type="submit" name="register-users" id="register_id_button" class="button-register" value="Register">

        </form>
        <p id="errorMessage"></p>
        <script>
            const button = Z("register_id_button");
            button.addEventListener("click", (event) => {
                if (Zv("password") !== Zv("repassword")) {
                    event.preventDefault();
                    Z("errorMessage").textContent = "Password doesn't match"
                }
            })
            
            GojsaCheckPass("password", "cpassword")
            GojsaMessageErrorColor("register_id_button", "Field mast have some value","errorMessage", "name", "lastName", "username",  "password", "birthdate", "email")
        </script>
    </div>

</body>

</html>