<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chat.css">
    <script src="js/Zlibrary.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="" id="my_profile">Profile</a>
    <div id="allMyPosts">
        
    </div>
    <button id="openChat">Chat</button>
   <div id="openchatBoxId">

   </div>
   <div id="openChatId"></div>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="js/socket.js"></script>
    <script src="js/script.js"></script>
    <script src="js/home.js"></script>
    


</body>
</html>