<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chat.css">

    <title>Document</title>
</head>

<body>
   
    <div>
        <input type="text" placeholder="Search" id="search_id">
    </div>
    <a href="http://localhost:4444/home">Back</a>
    <img src="" width="200px" id="profile_image_id">
    <a href="/logout">Logout</a>
    <img src="" alt="">
    <div>
        <p id="first_name_id"></p>
        <p id="last_name_id"></p>
    </div>
    <div id="div_add_friend_button"></div>
    </form>
    <form method="POST" enctype="multipart/form-data" id="form_upload_pic_id">
        <div>
            <label>Select your profile picture:</label>
            <input type="file" name="profile_pic" />
            enctype="multipart/form-data"
        </div>

        <div>
            <input type="submit" name="btn_upload_profile_pic" id="upload_img_btn" value="Upload" />
        </div>
    </form>
    <form method="post" id="post_text_id">
        <div>
            <input type="text" placeholder="sometext" id="sometext" name="sometext">
        </div>
    </form>
    <form id="form_post_id" method="post" enctype="multipart/form-data">
        <div>


            <input type="file" name="profile_pic" id="post_image">

        </div>
        <input type="submit" name="btn_upload_post" id="btn_upload_post_id" value="Upload post" />
    </form>
    <form id="upload_post_img"  enctype="multipart/form-data" method="post">
        
    </form>

    <div id="allMyPosts">

    </div>
    <button id="openChat">Chat</button>
    <div id="openchatBoxId">

    </div>
    <div id="openChatId"></div>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <script src="js/socket.js"></script>
    <script src="js/profilejs.js"></script>

</body>

</html>

 -->


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!DOCTYPE html>
<html>

<head>
    <title>Profil page</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div>
        <input type="text" placeholder="Search" id="search_id">
    </div>
    <div class="profile">

        <div class="left">
            <img id="profile_picture_id" src="" alt="user">

            <div class="profil-photo">
                <form id="form_upload_pic_id" action="" method="POST" enctype="multipart/form-data">
                <label for="photo"><i class="fa fa-camera" style="color:#0247fe; font-size: 15px;"></i></label>
                <input type="file" name="profile_pic" id="photo">
            </form>
            </div>

            <h2 id="first_last_name_id"></h2>
        </div>

        <div class="right">
            <button id="div_add_friend_button" type="button" class="friend"><i class="fa fa-user-plus" style="font-size:20px"></i>Add
                Friend</button>
            <button type="button" class="message"><i class="fa fa-envelope" style="font-size:20px"></i> Message</button>
        </div>
    </div>

    <div class="conteiner">

        <div class="about">
            <h4>About</h4>
            <ul>
                <li><i class="fa fa-home"></i> From Doboj,BIH</li>
                <li><i class="fa fa-map-marker"></i> Lives in Doboj,BIH</li>
                <li><i id="dateOfBirthDateID" class="fa fa-birthday-cake"></i> Birthday 7.12.1996.</li>
                <li><i class="fa fa-male"></i><i class="fa fa-female"></i> Gender male</li>
            </ul>
        </div>

        <div class="write-post">

            <h4>Post</h4>

            <div class="post">
                <img id="postUserImage" src="" alt="user" class="user">
                <textarea id="sometext" placeholder="Write post" cols="65" rows="4"></textarea>
            </div>

            <div class="add-photo">
                <form id="form_post_id"  enctype="multipart/form-data" method="post">
                <label for="add"><i class="fa fa-image" style="font-size:24px; color:#80B25D;"></i>
                    <small style="color:rgb(80, 75, 75);">Add image</small></label>
                <input type="file" name="profile_pic" id="add">
                <button id="btn_upload_post_id" class="button-to-add-comment" ><strong>Add post</strong> </button>
            </form>
            </div>
        </div>

        <!-- <div class="slike">
            <div class="sve-slike">
                <h4>Fotografije</h4>
                <a href="">Sve fotografije</a>
            </div>
        </div> -->
        <div class="friends">
            <h4>Friends</h4>
            <a href="">Svi prijatelji</a>
            <div id="friends_id">

            </div>
        </div>
        
<!-- post krece odavde -->
<div id="allMyPosts"></div>
        <div>

        </div>
<!-- ---------------------->
        <!-- <div class="friends">
            <h4>Friends</h4>
            <a href="">Svi prijatelji</a>
        </div> -->

        
    </div>
    <button id="openChat">Chat</button>
    <div id="openchatBoxId">

    </div>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
        <script src="js/socket.js"></script>
        <script src="js/profilejs.js"></script>
</body>

</html>