<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <img src="" width="200px" id="profile_image_id">
    <a href="/logout">Logout</a>
    <img src="" alt="">
    <div>
        <p id="first_name_id"></p>
        <p id="last_name_id"></p>
    </div>
    <div id="div_add_friend_button"></div>
    </form>
    <form method="POST" enctype="multipart/form-data" id="form_upload_pic_id">
        <div>
            <label>Select your profile picture:</label>
            <input type="file" name="profile_pic" />
            <!-- enctype="multipart/form-data" -->
        </div>

        <div>
            <input type="submit" name="btn_upload_profile_pic" id="upload_img_btn" value="Upload" />
        </div>
    </form>
    <form method="post" id="post_text_id">
        <div>
            <input type="text" placeholder="sometext" id="sometext" name="sometext">
        </div>
    </form>
    <form id="form_post_id" method="post" enctype="multipart/form-data">
        <div>


            <input type="file" name="profile_pic" id="post_image">

        </div>
        <input type="submit" name="btn_upload_post" id="btn_upload_post_id" value="Upload post" />
    </form>
    <!-- <form id="upload_post_img"  enctype="multipart/form-data" method="post">
        
    </form> -->

    <div id="allMyPosts">
        
    </div>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="js/socket.js"></script>
    <script src="js/profilejs.js"></script>

</body>

</html>